/* App.css */
body,html {
  height: 100%;
  margin: 0;
  background-color: #bed3c2
}
.App {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.game-container {
  display: flex;
  justify-content: center; /* Ensure children are spaced evenly */
  gap: 100px;
  align-items: center; /* Align items vertically at the center */
  width: 100%; /* Take full width of the page */
  padding: 20px;
}

/* Styles for the board container */
.board {
  display: flex;
  flex-direction: column; /* Align rows vertically */
  justify-content: center;
  align-items: center;
  margin: 0 20px; /* Add space between the board and player cards */
}

/* Styles for each row of the board */
.row {
  display: flex; /* Align cells horizontally */
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #000; /* Cell border */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  margin: 5px;
  cursor: pointer; /* Pointer cursor for interactivity */
}

.cell:hover {
  background-color: #e0e0e0; /* Highlight on hover */
}

/* Styles for players' card containers */
.players-cards-container.blue-player {
  width: 200px; /* Set fixed width for the player card container */
  height: 400px;
  padding: 10px;
  border: 1px solid #291616;
  border-radius: 10px;
  background-color: #dbddff;
  overflow-y: auto;


}
.players-cards-container.red-player {
  width: 200px; /* Set fixed width for the player card container */
  height: 400px;
  padding: 10px;
  border: 1px solid #291616;
  border-radius: 10px;
  background-color: #ffdde1;
  overflow-y: auto;

}


/* Player-specific styling */
.red-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.blue-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
}

.players-card-container.blue-player{

}

.blue{
  color: blue;
  font-weight: bold;
}

.red{
  color: red;
  font-weight: bold;
}