/* src/Card.css */
:root  {
    --card-width: 80px;
    --card-height: 100px;
}


.card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    background-color: white; /* white background */
    border: 3px solid #444; /* Slightly darker border */
    border-radius: 12px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}



.card {
    transition: transform 0.2s ease-in-out;
}

.card-content{
    position: relative;
    width: 100%;
    height: 100%;
}

.card-image {
    width:100%;
    height:auto;
    border-radius: 8px;
}

.card:not(.placed):hover {
    transform: translateX(-13px);
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhances shadow on hover */
}
/* Styling for each value displayed on the card */
.value {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Dark text */
}

.card-values {
    position: absolute;
    top:5px;
    left:5px;
    background: rgba(0, 0, 0, 0.7); /* Dark background for contrast */
    color: white;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    aling-items: center;
    justify-content: center;
    gap: 2px;
}

.card-value {
    position: absolute;
}

.card-value.top {
    position: absolute;
    top: -7px;
    left: 61%;
    transform: translateX(-50%);
}

.card-value.bottom {
    position: absolute;
    bottom: -23px;
    left: 61%;
    transform: translateX(-50%);
}

.card-value.left {
    position: absolute;
    left: 0px;
    top:50%;
    transform: translateX(-50%);
}

.card-value.right {
    position: absolute;
    right: -11px;
    top:50%;
    transform: translateX(-50%);
}






.card-back {
    color: currentColor;
    font-size: small;
    text-align: center;
}

/* Styling for player ownership */
.card.blue {
    background-color: #a0d2eb; /* Lighter blue */
    border-color: #00509e; /* Darker blue border */
    color: #003366; /* Darker text */
}

.card.red {
    background-color: #f5a4a4; /* Light red */
    border-color: #d62828; /* Darker red */
    color: #660000; /* Darker text */
}