/* src/Card.css */
:root  {
    --card-width: 80px;
    --card-height: 100px;
}


.card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    background-color: #f5f5f5; /* Light gray background */
    border: 2px solid #333; /* Dark border */
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    cursor: pointer;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:not(.placed):hover {
    transform: translateX(-13px);
}

/* Styling for each value displayed on the card */
.value {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Dark text */
}

.top {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.left {
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.bottom {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.card-back {
    color: currentColor;
    font-size: small;
    text-align: center;
}

/* Styling for player ownership */
.card.blue {
    background-color: #a0d2eb; /* Light blue background for blue player */
    border-color: #00509e; /* Darker blue border */
}

.card.red {
    background-color: #f5a4a4; /* Light red background for red player */
    border-color: #d62828; /* Darker red border */
}
